* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E7D4AB;
    flex-direction: column;
    position: relative; /* Keep the body's position relative */
}
 
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 170px;
    position: relative;
}
 
.login-button {
    background-color: #ffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
    position: fixed; /* Changed from absolute to fixed */
    top: 10px; /* Position it at the top */
    right: 10px; /* Position it on the right */
}
 
.login-button:hover {
    background-color: #d6b98f;
}
 
.container {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
 
form {
    display: flex;
    flex-direction: column;
}
 
input {
    background-color: #eee;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
}
 
button {
    border-radius: 5px;
    border: none;
    background-color: #E7D4AB;
    color: #333;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}
 
button:hover {
    background-color: #d6b98f;
}
 
a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
    margin-top: 10px;
}
 
a:hover {
    text-decoration: underline;
}
 